* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
  flex-direction: column;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.profile-form {
  display: flex;
  width: 100%;
}

.profile-pic {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 50%;
}

.profile-pic img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-pic p {
  font-weight: bold;
  color: #333;
}

.form-fields {
  flex-grow: 1;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 90%;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 14px;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #8e44ad, #3498db);
}

textarea {
  resize: none;
  height: 60px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.save-btn {
  padding: 10px 20px;
  margin: auto;
  align-items: center;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #8e44ad, #3498db);
}

.cancel-btn:hover,
.save-btn:hover {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .profile-form {
    flex-direction: column;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .button-group {
    flex-direction: column;
  }

  .cancel-btn,
  .save-btn {
    width: 30%;
    margin-bottom: 10px;
  }

  .save-btn {
    margin-bottom: 0;
  }
}

.followers-following-container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: block;
  box-sizing: content-box;
  width: 80%;
  margin-left: 0;
  margin-right: 0;
}

.followers-following-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-btn,
.tab-btn2 {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  position: relative;
}

.tab-btn.active,
.tab-btn2.active {
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #8e44ad, #3498db);
  border-image-slice: 1;
  padding: 5px 10px;
  border-radius: 8px;
}

.search-box {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}
.search-box2 {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.search-box input,
.search-box2 input {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 180px;
  outline: none;
}

.search-box .search-btn,
.search-box2 .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -40px;
  display: flex;
}

.search-box .fa-search,
.search-box2 .fa-search {
  color: #666;
}

.followers-following-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 45%;
}

.column {
  width: 45%;
  margin-right: 10px;
}

.column:last-child {
  margin-right: 0;
}

.followers-list {
  list-style: none;
  padding: 0;
}

.followers-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
}

.followers-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.follower-details {
  flex-grow: 1;
  padding-left: 10px;
  font-size: small;
}

.username {
  font-weight: bold;
  color: #333;
}

.fullname {
  font-size: 14px;
  color: #888;
}

.remove-btn {
  padding: 5px 5px;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(45deg, #8e44ad, #3498db);
  border-image-slice: 1;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.remove-btn:hover {
  background-color: #8e44ad;
  color: white;
}

.following-gradient {
  background: linear-gradient(45deg, #8e44ad, #3498db);
  height: 300px;
  border-radius: 10px;
}
